<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-text navbar-left">
      <p>Michelle Dolliver</p>
    </div>
    <div class="navbar-text navbar-right">
      <a><%= link_to 'Home', root_path %></a>
      <a><%= link_to 'About', about_index_path %></a>
      <a><%= link_to 'Lessons', lessons_path %></a>
      <a><%= link_to 'Early Music Education', music_ed_index_path %></a>
      <a><%= link_to 'Contact', contact_index_path %></a>
    </div>
  </div>
</nav>
